# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/*


# CMake and builds
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
HelloWorld.js
HelloWorld.wasm
Makefile
cmake_install.cmake

cppModules/TwoLayerFlowHead-exe/src/main.cpp
sampleView/helloWorld.html
sampleView/helloWorld.html
TwoLayerFlowHead-exe/CMakeLists.txt
TwoLayerFlowHead-exe/src/main.cpp
webModules/node_modules
ideas/notes.txt
